<%= @fire_nation.count %>
<% @fire_nation.each do |fire_character| %>
  <h4>Name: <%= fire_character.name %></h4>
  <p><%= image_tag "#{fire_character.photo}", size:"300" %></p>
  <p>Allies: <%= fire_character.allies %></p>
  <p>Enemies: <%= fire_character.enemies %></p>
  <p>Affiliation: <%= fire_character.affiliation %></p>
<% end %>